:root {
   --background: #fff;

   --bg-button-cta: #56c225;
   --text-button-cta: #fff;

    --h1-title:#1a3c75; /* #4a525e; */
   --cards-background: #f5f5f5;
}

* {
   margin: 0;
   padding: 0;
   font-size: 16px;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   font-style: normal;
}

h1 {
   font-size: 4rem;
   font-weight: 900;
   line-height: 3rem;
   color: var(--h1-title);
}

header {
   background-color:var(--background) ;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;

   color: #EBEBD3;

   display: flex;
   flex-direction: column;
   height: 100vh;


   .oferta {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
         display: flex;
         justify-content: left;


         img {
            max-width: 180px;
            max-height: 50px;
         }
      }
   }

   .cta {
      height: calc(100% - 79.48px);
      display: flex;
      justify-content: center;

      .header--content {
         display: grid;
         grid-template-columns: 1.1fr 1.5fr;
         height: 100%;

         .header--left-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            h1 {
               font-weight: 900;
               font-size: 4rem;
               line-height: 4.5rem;
               color: var(--h1-title);
            }
            h2{
               font-weight: 300;
               font-size: 3rem;
               line-height: 3rem;
               color: #4c4c4c;
               margin-bottom: -20px;
            }
            p {
               font-size: 1.1rem;
               padding: 2.5rem 0px 2rem 0px;
               font-family: "Poppins", sans-serif;
               font-weight: 300;
               color: #9c9c9c;
            }
            button {
               border: 0; /* d9d8e0 */
               background-color: var(--bg-button-cta);
               padding: 1rem 1.3rem;
               border-radius: 3px;
               cursor: pointer;
               font-family: "Poppins", sans-serif;
               width: 300px;
               max-width: 300px;
               font-weight: 300;
               color: var(--text-button-cta);
            }
         }

         .header--right-content {
            display: flex;
            flex-direction: row-reverse;

            img {
               width: 700px;
               height: 700px;
            }
         }

      }
   }
}

.container {
   max-width: 1200px;
   width: 1200px;
   margin: auto;
}
main {
   background-color: var(--background);
}
section  {
   display: flex;
   justify-content: center;
   align-items: center;

   .metodos {
      
      display: flex;
      flex-direction: column;
      gap: 8rem;
      justify-content: center;
      align-items: center;

      h1 {
         font-weight: 600;
         font-size: 4rem;
         text-align: center;
         color: var(--h1-title);
         text-shadow: 0px 1px 2px rgb(74 82 94);
      }

      h3 {
         font-weight: 300;
         font-size: 1rem;
         text-align: center;
         color: #9c9c9c;
      }

      .metodo {
         
         display: grid;
         padding: 1rem .03rem;
         gap: 3rem;
         grid-template-columns: 1fr 1fr 1fr 1fr;

         .metodo--content {
            background-color: transparent;
            border: 1px solid #b5a2d84d;
            border-radius: 5px;
            height: 330px;
            padding: 1.5rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            /* -webkit-box-shadow: 0px 0px 3px 0px rgb(138 138 138);
            -moz-box-shadow: 0px 0px 3px 0px rgb(138 138 138);
            box-shadow: 0px 0px 3px 0px rgb(138 138 138); */
         }

         img {
            width: 100px;
            height: 100px;
            display: flex;
            /* opacity: .8; */

            justify-content: center;
            align-items: center;
         }
      }
   }
}

.section1 {
   /* background: url("../images/wave.svg"); */
   background-size: cover;
   background-repeat: no-repeat;
   margin: 6rem;
}

.section2 {
   /* background: url("../images/wave\ Section2.svg"); */
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   padding: 6rem 2rem;

   .area-depoimentos {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
      width: 1200px;

      h1 {
         font-weight: 600;
         font-size: 4rem;
         color: var(--h1-title);
         text-align: center;
         line-height: 4rem;
      }
      span {
         color: #EBEBD3;
      }

      .slide {
         display: flex;
         gap: 3rem;
         justify-content: center;
         flex-direction: column;

         .area-depoimento {
            background-color: var(--cards-background);
            width: 18.75rem;
            padding: 2rem;
            border-radius: 5px;

           .cabecalho-depoimento {
            display: flex;
            flex-direction: row;
            gap: 1.2rem;
            padding: 1.5rem 0rem;

               img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
               }

               h3 {
                  color: #625e6d;
                  font-weight: 600;
               }
               span {
                  color: #7b7c88;
                  font-weight: 400;
               }
           }

           .depoimento {
            color: #9c9c9c;
            font-weight: 300;
           }

           .estrelas {
            margin-top: 1rem;
            text-align: right;
             img {
               width: 20px;
               height: 20px;
             }
           }
         }
      }
   }
}

.section3 {

   .area-qualidade-sono {
      display: flex;
      flex-direction: column;

      span {
         font-size: 1.1rem;
         padding: 2.5rem 0px 2rem 0px;
         font-family: "Poppins", sans-serif;
         font-weight: 300;
         color: #9c9c9c;
      }

      .cabecalho-qualidade-sono {
         display: flex;
         flex-direction: column;
         gap: 3rem;

         h1{
            font-weight: 900;
            font-size: 4rem;
            line-height: 4.5rem;
            color: var(--h1-title);
         }
         span {
            font-size: 1.1rem;
            padding: 2.5rem 0px 2rem 0px;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            color: #9c9c9c;
         }
      }
      .meio-qualidade-sono {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 3rem;

         h2 {
            margin-top: 3rem;
            font-weight: 300;
            font-size: 4rem;
            line-height: 3rem;
            color: #4c4c4c;
         }

         .footer-meio-qualidade-sono {
            display: grid;
            grid-template-columns: 5fr 3.3fr;
            justify-items: center;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 3rem 0rem;

            img {
               max-width: 30rem;
               max-height: 30rem;
            }

            
         }

         .ultima-img-qualidadeSono {
            display: flex;
            padding: 0;

            img {
               max-width: 32rem;
               max-height: 32rem;
            }
         }
         
      }
      .footer-qualidade-sono {
         display: grid;
         grid-template-columns: 3.3fr 5fr;
         align-items: center;
         gap: 2rem;
         padding: 3rem 0rem;
         justify-items: center;
         justify-content: center;

         img {
            max-width: 30rem;
            max-height: 30rem;
         }

         

         .sono-reparador-img {
            max-width: 38rem;
            max-height: 38rem;
         }
      }
      .sono-reparador {
         display: flex;
      }
   }
}

.section4 {
   span {
      font-size: 1.1rem;
      padding: 1rem 0px 2rem 0px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      color: #9c9c9c;
   }

   .ciclo-vicioso {
      display: flex;
      flex-direction: column;
      gap: 6rem;

      .textos {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 3rem;
      }

      .basta {
          h1 {
            font-size: 3.5rem;
          }
      }
   }

   .area-depoimentos {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
      width: 1200px;

      h1 {
         font-weight: 600;
         font-size: 4rem;
         color: var(--h1-title);
         text-align: center;
         line-height: 4rem;
      }
      span {
         color: #EBEBD3;
      }

      .slide {
         display: flex;
         gap: 3rem;
         justify-content: center;
         flex-direction: column;

         .area-depoimento {
            background-color: var(--cards-background);
            width: 18.75rem;
            padding: 2rem;
            border-radius: 5px;

           .cabecalho-depoimento {
            display: flex;
            flex-direction: row;
            gap: 1.2rem;
            padding: 1.5rem 0rem;

               img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
               }

               h3 {
                  color: #625e6d;
                  font-weight: 600;
               }
               span {
                  color: #7b7c88;
                  font-weight: 400;
               }
           }

           .depoimento {
            color: #9c9c9c;
            font-weight: 300;
           }

           .estrelas {
            margin-top: 1rem;
            text-align: right;
             img {
               width: 20px;
               height: 20px;
             }
           }
         }
      }
   }


}


.descricao-ebook {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #9c9c9c;

   h1 {
      line-height: 4rem;
   }

   h2{
      font-weight: 300;
      font-size: 3rem;
      line-height: 3rem;
      color: #4c4c4c;
   }
}

.swiper {
   width: 100%;
   height: 100%;
   padding-bottom: 60px;
}
.swiper-slide {
   max-width: 18.75rem!important;
   margin-right: 3rem!important;
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
   padding: 0rem 2.3rem;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
   left: var(--swiper-navigation-sides-offset, 0px);
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
   right: var(--swiper-navigation-sides-offset, 0px);
}
.swiper-button-next::after, .swiper-button-prev::after {
   backdrop-filter: blur(26px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(181%);
   background-color: rgb(205 205 205 / 0%);
   border-radius: 5px;
   border: 1px solid rgb(255 255 255 / 6%);
   height: 365px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0rem 1rem;
}
.swiper-button-next::after:hover, .swiper-button-prev::after:hover {
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(6px) saturate(181%);
   background-color: rgb(205 205 205 / 0%);
   border-radius: 5px;
   border: 1px solid rgb(255 255 255 / 6%);
   height: 365px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0rem 1rem;
}
.button-center {
   display: flex;
   justify-content: start;

}

 /* Laptops/Desktops */
/* @media screen and (min-width: 1024px) {

} */

@media (max-width: 768px) {
   header {
      height: 100%;
      word-wrap: break-word;
      overflow-x: auto;

      .cta {
         .header--content {
            display: grid;
            grid-template-columns: min-content;
            height: 100%;

            .header--left-content {

               h1 {
                  font-size: 3rem;
                  line-height: 3rem;
                  text-align: left;
               }
               h2 {
                  font-size: 1.5rem;
               }
            }
            .header--right-content {
               img {
                  width:21.875rem;
                  height: 21.875rem;
               }
            }
         }
      }
   }
   .container {
      max-width: 700px;
      display: flex;
      flex-wrap: wrap;
   }
   section {
      height: 100%;
   }

   .section1 {

      .metodos {

         .metodo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
         }
      }
   }
   .section2 {

      .area-depoimentos {
         width: 21.875rem;

         h1 {
            font-size: 3rem;
            max-width: 21.875rem;
            font-weight: 900;
            line-height: 3rem;
        }

         .slide {

            .area-depoimento {
               width: 16.75rem;
            }
         }
      }
   }
}

@media (max-width: 480px) {
   header {
      & .cta {
         .header--content {
            display: flex;
            height: 100%;
            justify-content: center;
            flex-direction: column-reverse;

            .header--left-content {
               font-size: 1rem;
               padding: 0rem 1rem;
               margin-top: -3rem;

               h1 {
                  font-size: 3rem;
                  line-height: 3rem;
                  text-align: left;
               }
               h2 {
                  font-size: 1.5rem;
                  line-height: 1.5rem;
               }
               p{
                  font-size: .9rem;
               }
               button {
                  width: 90%;
                  max-width: 350px;
               }
            }
         }
      }
   }

   .section1 {
      .metodos {
         gap: 4rem;

         h1 {
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            margin-top: 8rem;
            font-weight: 900;
         }

         h3 {
            font-size: .9rem;
         }

         .metodo {
            .metodo--content{
               padding: 1rem 1rem;
               height: 16.5rem;
            }
         }
      }
   }

   .container {
      max-width: 350px;
   }

   .swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
      padding: 0rem .8rem;
   }
   .swiper-button-next::after, .swiper-button-prev::after {
      backdrop-filter: blur(26px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(181%);
      background-color: rgb(205 205 205 / 0%);
      border-radius: 5px;
      border: 1px solid rgb(255 255 255 / 6%);
      height: 25.937rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem .3rem;
   }
   .swiper-slide {
      max-width: 18.75rem!important;
      margin-right: 1rem!important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}